include the media type registration template

From email: iana-issues@iana.org 31 Oct 2023

When you’re ready, please include the media type registration template from Section 5.6 of RFC 6838.

If you have any questions, just let us know. If you'd like to talk in person, you can find us next to the RFC Editor's table from Monday through Thursday. You can also request another review at any time by contacting us at [iana@iana.org.](mailto:iana@iana.org.)

For more information about IANA Considerations section requirements, please see

https://www.iana.org/help/protocol-registration